# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE's
.vscode
.idea
/.metadata/
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f0d6d4d5c063fd3446d4.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5b266c99d0e32f4b1066.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-72fc57f4ff0c016a943b.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-03T18-59-38-0390.json
/cmake-build-debug/.cmake/api/v1/reply/target-MMK-Debug-9bdb5ea7906c11ff1b2b.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ed3778c22bc3b857241f.json
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/MMK.dir/src/col/MonkeyCollection.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/col/MonkeyModel.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/col/MonkeySession.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/run/MonkeyFile.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/run/MonkeyManager.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/run/MonkeyShell.cpp.obj
/cmake-build-debug/CMakeFiles/MMK.dir/src/main.cpp.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/MMK.exe

# .mkit files
*.mkit
